.dnrm-component {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 500px;
    padding: 10px;
}

h1 {
    color: white;
    padding: 10px;
}